@import "variables";

// Bootstrap Customization
$body-bg: $my-dark;
$body-color: $my-primary;
$primary: $my-primary;
$secondary: $my-secondary;
$dark: $my-dark;
$font-family-sans-serif: "Fira Mono", Arial, sans-serif;

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
@import "~bootstrap/scss/bootstrap";
