@import "variables";

// Bootstrap Customization
$body-bg: $my-dark;
$body-color: $my-primary;
$primary: $my-primary;
$secondary: $my-secondary;
$dark: $my-dark;
$font-family-sans-serif: "Fira Mono", Arial, sans-serif;

@import url('https://use.fontawesome.com/releases/v5.0.10/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css');
@import "~bootstrap/scss/bootstrap";
