@import 'global/variables';
@import 'global/resets';

html {
  font-family: Helvetica, sans-serif;
  background: #fffbe6;
  color: #fd5523;
}

body {
  margin: 2rem;
}

h1 {
  font-family: georgia, sans-serif;
  font-style: italic;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  text-align: right;
  font-size: 3rem;
  font-weight: 400;
}

a {
  color: #37966f;
}

a:visited {
  color: #356859;
}

main {
  display: flex;
  flex-flow: column;
}

header h1 {
  margin: 0;
}

main img {
  max-width: 400px;
  -webkit-clip-path: polygon(24% 3%, 98% 4%, 80% 79%, 98% 95%, 46% 100%, 3% 84%);
  clip-path: polygon(24% 3%, 98% 4%, 80% 79%, 98% 95%, 46% 100%, 3% 84%);
}

main h2 {
  z-index: 2;
  margin: 0;
  align-self: end;
}

main article {
  color: #356859;
}

article section {
  margin: 16px 0;
  padding: 16px;
  max-width: 540px;
  background-color: #b9e4c9;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
    margin: 0 2rem;
  }

  body main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: 1024px) {
    body main {
      display: grid;
      grid-template-columns: 1fr minmax(100px, 400px) min-content;
      gap: 0 1rem;
    }

    main header {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    main img {
      max-width: 100%;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    main h2 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    main article {
      display: flex;
      flex-flow: wrap;
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }

    article section {
      margin: 16px;
      min-width: 560px;
    }
  }
}
