@import "custom";
@import "variables";

body {
  background-color: $my-background-dark
}

a {
  text-decoration: underline;
}

a:hover {
  color: #b2b2b2;
  text-decoration: underline;
}

a, h1, h3, ul, li {
  color: $my-primary-dark
}

.btn-dark {
  background-color: $my-background-dark;
  border-color: $my-background-dark;
}

.btn-dark:hover {
  color: #fff;
  background-color: #181818;
  border-color: #121212;
}

.header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    padding-top: 5rem;
  }
}

.item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fab, .fas {
  color: $my-primary-dark;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $my-background-light
  }
  a:hover {
    color: #787878;
    text-decoration: underline;
  }
  
  a, h1, h3, ul, li {
    color: $my-primary-light
  }
  
  .btn-dark {
    background-color: $my-background-light;
    border-color: $my-background-light;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
  }

  .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus,  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem #f2f2f280;
  }


  .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
  } 

  .fab, .fas {
    color: $my-primary-light;
  }
}
